@page "/"
@namespace CamView.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HikvisionWeb</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
        <div class="show">
            <p class="h2 text-primary">
                Попытка переподключения к серверу..<br />
                <img src="/image/loading.gif" />
            </p>
        </div>
        <div class="failed">
            <p class="h2 text-primary">
                Не удалось подключиться к серверу..<br /> 
                <input type="button" class="btn btn-outline-primary btn-lg" value="Обновить страницу" onclick="ReconnectToServer()" />
                <script>
                    function ReconnectToServer() {
                        location.reload();
                    }
                </script>
            </p>
        </div>
        <div class="rejected">
            <p class="h2 text-primary">
                Подключение к серверу прервано..<br /> 
                <input type="button" class="btn btn-outline-primary btn-lg" value="Обновить страницу" onclick="ReloadPage()" />
                <script>
                    function ReloadPage() {
                        location.reload();
                    }
                </script>
            </p>
        </div>
    </div>

    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Попробуйте обновить страницу.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    <script type="text/javascript">


        function scrollTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });

        }

       
        function openLink(linkhost) {

            var anchorElement = document.createElement('a');
            anchorElement.href = linkhost;
            anchorElement.target = "_blank";
            anchorElement.click();
            anchorElement.remove();
        }

        


    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
